<%= form_with(model: @tweetme, local:true, url: choose_new_or_edit ) do |form| %>
  <% if @tweetme.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tweetme.errors.count %> error has occurred</h2>
      <ul>
      <% @tweetme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form_group">
      <%= form.label :content, class:'letter_change' %>
      <%= form.text_area :content, class:'form_control' %>
    </div>
      <%= form.submit "submit"%>
<% end %>

<%= link_to "Back to index", tweetmes_path %>
