<!DOCTYPE html>
<html>
  <head>
    <title>TwittercloneAssignment</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <img class="logo_brand" alt="TweetMeのロゴ" src="/assets/animal_mark08_kaba.png" width="auto" height="100%">
        <%= link_to("TweetMe", tweetmes_path, {class: "logo"})%>
      </header>

      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
        <%= msg.html_safe %>
      </div>
      <% end %>

      <%= yield %>

      <footer>
        <p>運営会社Tweetme株式会社</p>
        <p>© 2015-2016 Copyright MyTweet Corp.</p>
      </footer>
    </div>
  </body>
</html>
